@use 'reset'
@use 'variables'
@use 'mixins'
@use 'buttons'

.container
  @include mixins.container
  background-color: variables.$primary-color
  border-radius: 15px

  &-header
    text-align: center
    font-size: 1.5rem
    padding: 0 1rem 1rem
    border-bottom: 1px solid variables.$secondary-color


  #todo-form
    padding: 1rem
    border-bottom: 1px solid variables.$secondary-color

    &-control
      
      #form-input
        padding: .25rem .5rem
